* text=auto

.babelrc text
.editorconfig text
.eslintrc text
.gitattributes text
.gitignore text
.prettierrc text
*.css text
*.eot binary
*.html text
*.ico binary
*.jpg binary
*.js text
*.json text
*.jsx text
*.md text
*.otf binary
*.png binary
*.sass text
*.scss text
*.svg text
*.svgz binary
*.ts text
*.tsx text
*.ttf binary
*.txt text
*.woff binary
*.woff2 binary
LICENSE text
README text
TODO text
